## Changing my focus of the project
First I am going to be changing my project focus. I originally wanted to use song lyrics and try to predict the type of emotions the song would portray but after the feedback I realized that this would be a difficult project with more data sets than I want to use. I am changing to a subject that I am more invested in as well. I am going to look at different features in the data and finding strong enough correlations to make predictions about certain players based on if the data has strong correlations or not. I have found a website called rotowire.com that will allow me to download both seasons of stats into a csv file. The file name will be '2022stats.csv'.

In [17]:
import pandas as pd

data_2022 = pd.read_csv("2022stats.csv")
print(data_2022.keys())

data_2022.info()

data_2022.head(n=10)

Index(['Player', 'Team', 'Pos', 'Age', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'SH', 'SF', 'HBP', 'AVG', 'OBP', 'SLG',
       'OPS'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  772 non-null    object
 1   Team    772 non-null    object
 2   Pos     772 non-null    object
 3   Age     772 non-null    int64
 4   G       772 non-null    int64
 5   AB      772 non-null    int64
 6   R       772 non-null    int64
 7   H       772 non-null    int64
 8   2B      772 non-null    int64
 9   3B      772 non-null    int64
 10  HR      772 non-null    int64
 11  RBI     772 non-null    int64
 12  SB      772 non-null    int64
 13  CS      772 non-null    int64
 14  BB      772 non-null    int64
 15  SO      772 non-null    int64
 16  SH      772 non-null    int64
 17  SF      772 non-null    int64
 18  HBP     772 non-null    int64
 19  AVG     772 non-null    float64
 20  OBP     772 non-null    float64
 21  SLG     772 non-null    float64
 22  OPS     772 non-null    float64
dtypes: float64(4), int64(16), object(3)
memory usage: 138.8+ KB

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,CJ Abrams,WAS,SS,23,44,159,17,41,7,2,...,2,1,23,0,0,3,0.258,0.276,0.327,0.603
1,CJ Abrams,SD,SS,23,46,125,16,29,5,0,...,2,4,27,2,2,6,0.232,0.285,0.320,0.605
2,Jose Abreu,CWS,1B,36,157,601,85,183,40,0,...,0,62,110,0,4,12,0.304,0.378,0.446,0.824
3,Ronald Acuna,ATL,OF,25,119,467,71,124,24,0,...,11,53,126,0,3,10,0.266,0.351,0.413,0.764
4,Willy Adames,MIL,SS,28,139,563,83,134,31,0,...,3,49,166,0,4,1,0.238,0.298,0.458,0.756
5,Riley Adams,WAS,C,27,48,142,14,25,4,0,...,1,12,46,0,0,1,0.176,0.245,0.310,0.555
6,Jo Adell,LAA,OF,24,88,268,22,60,12,2,...,2,11,107,0,1,4,0.224,0.264,0.373,0.637
7,Ehire Adrianza,WAS,OF,34,31,84,5,15,2,0,...,0,8,22,0,1,1,0.179,0.255,0.202,0.457
8,Ehire Adrianza,ATL,OF,34,6,13,3,2,1,0,...,0,3,3,0,0,0,0.154,0.313,0.231,0.544
9,Jesus Aguilar,MIA,1B,33,113,415,37,98,18,0,...,0,27,106,0,5,4,0.236,0.286,0.388,0.674

## Interesting Features
You can see that there are mutliple of the same people in the data sets. This is because when the person changes teams there is a split and it makes two different data points for them. We will need to combine the lines that have the same name on them and make sure to make the currect calculations to correctly add the two together.

## Features I'd Like to Predict
I would like to place players into different categories based on their average. Using different features and trying to find the best correlation to be able to stick my players into their respective categories based on their average.

In [22]:
##First we will drop the columns that we do not need.
copy_2022 = data_2022.copy()
copy_2022.sort_values("Player")
copy_2022.drop(labels = ['G', 'Team', 'R', '2B', '3B', 'RBI', 'SB', 'CS', 'SH', 'SF', 'HBP'],axis='columns', inplace=True) 

#Now I will delete people that have lower than 100 At Bats(AB)
above_100_2022 = copy_2022['AB'] >= 100

copy_2022 = copy_2022[above_100_2022]


#Now we will combine the names that have multiple instances
copy_2022 = copy_2022.groupby('Player').agg({'AB' : 'sum', 'H' : 'sum','SO' : 'sum',  'BB' : 'sum', 'HR' : 'sum', 'AVG' : 'mean', 'OBP' : 'mean', 'SLG' : 'mean', 'OPS' : 'mean'})
def avg_group(x):
    return int(x * 1000)

copy_2022['AVG_group'] = copy_2022['AVG'].apply(avg_group)

print(copy_2022)

                 AB    H   SO   BB  HR    AVG    OBP    SLG    OPS  AVG_group
Player
AJ Pollock      489  120   98   32  14  0.245  0.292  0.389  0.681        245
Aaron Hicks     384   83  109   62   8  0.216  0.330  0.313  0.643        216
Aaron Judge     570  177  175  111  62  0.311  0.425  0.686  1.111        311
Abraham Toro    324   60   65   22  10  0.185  0.239  0.324  0.563        185
Adam Duvall     287   61  101   21  12  0.213  0.276  0.401  0.677        213
...             ...  ...  ...  ...  ..    ...    ...    ...    ...        ...
Yonathan Daza   372  112   58   26   2  0.301  0.349  0.384  0.733        301
Yordan Alvarez  470  144  106   78  37  0.306  0.406  0.613  1.019        306
Yoshi Tsutsugo  170   29   50   19   2  0.171  0.249  0.229  0.478        171
Yuli Gurriel    545  132   73   30   8  0.242  0.288  0.360  0.648        242
Zach McKinstry  155   32   48   13   4  0.206  0.272  0.361  0.633        206

[450 rows x 10 columns]

In [21]:
from sklearn.model_selection import train_test_split

train_2022, test_2022 = train_test_split(both_player_years_2022, test_size=0.2, random_state=42)

print(len(train_2022), len(test_2022))

267 67